In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler, MaxAbsScaler

In [2]:
df_min_max = pd.read_csv('agora.csv')
df_min_max.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [3]:
df_min_max.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

# Min Max Scaler

In [4]:
x = df_min_max.drop('Profit',axis=1)
y = df_min_max.Profit
min_max_scaler = MinMaxScaler(feature_range=(2,3))
df_min_max['Marketing Spend'] = min_max_scaler.fit_transform(x[['Marketing Spend']])
df_min_max['Administration'] = min_max_scaler.fit_transform(x[['Administration']])
df_min_max['Transport'] = min_max_scaler.fit_transform(x[['Transport']])

df_min_max

    Marketing Spend  Administration  Transport     Area     Profit
0          2.692617        2.651744   3.000000    Dhaka  192261.83
1          2.983359        2.761972   2.940893      Ctg  191792.06
2          2.927985        2.379579   2.864664  Rangpur  191050.39
3          2.873136        2.512998   2.812235    Dhaka  182901.99
4          2.859438        2.305328   2.776136  Rangpur  166187.94
5          2.797566        2.369448   2.769126    Dhaka  156991.12
6          2.814128        2.730161   2.270710      Ctg  156122.51
7          2.788018        2.717457   2.686493  Rangpur  155752.60
8          2.729018        2.741733   2.660500    Dhaka  152211.77
9          2.745906        2.436929   2.646443      Ctg  149759.96
10         2.616351        2.451506   2.485733  Rangpur  146121.95
11         2.608845        2.308364   2.529362      Ctg  144259.40
12         2.567670        2.578836   2.529563  Rangpur  141585.52
13         2.556352        2.641066   2.535552      Ctg  134307.35
14         2.725394        2.801327   2.543708  Rangpur  132602.65
15         3.000000        2.543030   2.554864    Dhaka  129917.04
16         2.471808        2.535270   2.560312      Ctg  126992.93
17         2.572468        2.714013   2.598948    Dhaka  125370.37
18         2.554881        2.478772   2.625116  Rangpur  124266.90
19         2.522650        2.778236        NaN    Dhaka  122776.86
20         2.461169        2.476424   2.633053      Ctg  118474.03
21         2.474084        2.780210   2.635327    Dhaka  111313.02
22         2.447505        2.544293   2.642920  Rangpur  110352.25
23         2.408424        2.414638   2.645992  Rangpur  108733.99
24         2.465947        2.365388   2.297964    Dhaka  108552.04
25         2.391080        2.671958   2.292427      Ctg  107404.34
26         2.455574        2.706845   2.284134  Rangpur  105733.54
27         2.436093        2.582978   2.748613    Dhaka  105008.31
28         2.399467        3.000000   2.250429  Rangpur  103282.38
29         2.396769        2.774566   2.227092    Dhaka  101004.64
30         2.374931        2.489928   2.193163  Rangpur   99937.59
31         2.369741        2.772053   2.186989    Dhaka   97483.56
32         2.383485        2.593294   2.097683      Ctg   97427.84
33         2.335617        2.394134   2.454943  Rangpur   96778.92
34         2.280776        2.810055   2.446810      Ctg   96712.80
35         2.278284        2.257032   2.435618    Dhaka   96479.51
36         2.173353        2.576825   2.426311  Rangpur   90708.19
37         2.266527        2.000000   2.417626      Ctg   89949.14
38         2.122345        2.111636   2.392690    Dhaka   81229.06
39         2.233194        2.241309   2.370931      Ctg   81005.76
40         2.173901        2.512041   2.366260      Ctg   78239.91
41         2.168691        2.254469   2.348614  Rangpur   77798.83
42         2.142976        2.341852   2.313705      Ctg   71498.49
43         2.093776        2.579307   2.075319    Dhaka   69758.98
44         2.134127        2.788072   2.060059      Ctg   65200.33
45         2.006049        2.554724   2.004036    Dhaka   64926.08
46         2.007956        2.491260   2.629768  Rangpur   49490.75
47         2.000000        2.640547   2.000000      Ctg   42559.73
48         2.003278        2.003502   2.000000    Dhaka   35673.41
49         2.000000        2.500148   2.095749      Ctg   14681.40

# Standard Scaler

In [5]:
df_standard = pd.read_csv('agora.csv')

x = df_standard.drop('Profit',axis=1)
y = df_standard.Profit
standard_scaler = StandardScaler()
df_standard['Marketing Spend'] = standard_scaler.fit_transform(x[['Marketing Spend']])
df_standard['Administration'] = standard_scaler.fit_transform(x[['Administration']])
df_standard['Transport'] = standard_scaler.fit_transform(x[['Transport']])

df_standard

    Marketing Spend  Administration  Transport     Area     Profit
0          0.897913        0.560753   2.165287    Dhaka  192261.83
1          1.955860        1.082807   1.929843      Ctg  191792.06
2          1.754364       -0.728257   1.626191  Rangpur  191050.39
3          1.554784       -0.096365   1.417348    Dhaka  182901.99
4          1.504937       -1.079919   1.273550  Rangpur  166187.94
5          1.279800       -0.776239   1.245627    Dhaka  156991.12
6          1.340066        0.932147  -0.739753      Ctg  156122.51
7          1.245057        0.871980   0.916470  Rangpur  155752.60
8          1.030369        0.986952   0.812928    Dhaka  152211.77
9          1.091819       -0.456640   0.756935      Ctg  149759.96
10         0.620398       -0.387599   0.116763  Rangpur  146121.95
11         0.593085       -1.065540   0.290555      Ctg  144259.40
12         0.443260        0.215449   0.291357  Rangpur  141585.52
13         0.402078        0.510179   0.315213      Ctg  134307.35
14         1.017181        1.269199   0.347702  Rangpur  132602.65
15         2.016411        0.045868   0.392142    Dhaka  129917.04
16         0.094441        0.009118   0.413839      Ctg  126992.93
17         0.460720        0.855666   0.567745    Dhaka  125370.37
18         0.396725       -0.258465   0.671979  Rangpur  124266.90
19         0.279442        1.159837        NaN    Dhaka  122776.86
20         0.055726       -0.269588   0.703598      Ctg  118474.03
21         0.102724        1.169186   0.712656    Dhaka  111313.02
22         0.006007        0.051850   0.742899  Rangpur  110352.25
23        -0.136201       -0.562211   0.755138  Rangpur  108733.99
24         0.073115       -0.795469  -0.631190    Dhaka  108552.04
25        -0.199312        0.656489  -0.653246      Ctg  107404.34
26         0.035370        0.821718  -0.686280  Rangpur  105733.54
27        -0.035519        0.235069   1.163917    Dhaka  105008.31
28        -0.168793        2.210141  -0.820543  Rangpur  103282.38
29        -0.178609        1.142457  -0.913502    Dhaka  101004.64
30        -0.258074       -0.205629  -1.048654  Rangpur   99937.59
31        -0.276958        1.130554  -1.073249    Dhaka   97483.56
32        -0.226949        0.283924  -1.428988      Ctg   97427.84
33        -0.401129       -0.659324  -0.005884  Rangpur   96778.92
34        -0.600682        1.310535  -0.038282      Ctg   96712.80
35        -0.609750       -1.308658  -0.082863    Dhaka   96479.51
36        -0.991570        0.205925  -0.119935  Rangpur   90708.19
37        -0.652532       -2.525994  -0.154531      Ctg   89949.14
38        -1.177178       -1.997270  -0.253860    Dhaka   81229.06
39        -0.773820       -1.383122  -0.340536      Ctg   81005.76
40        -0.989577       -0.100900  -0.359142      Ctg   78239.91
41        -1.008534       -1.320796  -0.429432  Rangpur   77798.83
42        -1.102106       -0.906938  -0.568488      Ctg   71498.49
43        -1.281134        0.217682  -1.518073    Dhaka   69758.98
44        -1.134305        1.206419  -1.578860      Ctg   65200.33
45        -1.600350        0.101254  -1.802021    Dhaka   64926.08
46        -1.593413       -0.199322   0.690511  Rangpur   49490.75
47        -1.622362        0.507722  -1.818096      Ctg   42559.73
48        -1.610433       -2.509409  -1.818096    Dhaka   35673.41
49        -1.622362       -0.157226  -1.436690      Ctg   14681.40

# Robust Scaler

In [6]:
df_robust = pd.read_csv('agora.csv')

x = df_robust.drop('Profit',axis=1)
y = df_robust.Profit
robust_scaler = RobustScaler()
df_robust['Marketing Spend'] = robust_scaler.fit_transform(x[['Marketing Spend']])
df_robust['Administration'] = robust_scaler.fit_transform(x[['Administration']])
df_robust['Transport'] = robust_scaler.fit_transform(x[['Transport']])

df_robust

    Marketing Spend  Administration  Transport     Area     Profit
0          0.672530        0.345355   1.552016    Dhaka  192261.83
1          1.452113        0.697565   1.383714      Ctg  191792.06
2          1.303634       -0.524290   1.166654  Rangpur  191050.39
3          1.156567       -0.097977   1.017368    Dhaka  182901.99
4          1.119836       -0.761543   0.914576  Rangpur  166187.94
5          0.953936       -0.556662   0.894617    Dhaka  156991.12
6          0.998345        0.595921  -0.524591      Ctg  156122.51
7          0.928334        0.555328   0.659326  Rangpur  155752.60
8          0.770134        0.632895   0.585311    Dhaka  152211.77
9          0.815416       -0.341041   0.545285      Ctg  149759.96
10         0.468034       -0.294461   0.087672  Rangpur  146121.95
11         0.447908       -0.751841   0.211904      Ctg  144259.40
12         0.337504        0.112392   0.212476  Rangpur  141585.52
13         0.307158        0.311235   0.229530      Ctg  134307.35
14         0.760416        0.823317   0.252754  Rangpur  132602.65
15         1.496732       -0.002018   0.284521    Dhaka  129917.04
16         0.080466       -0.026811   0.300031      Ctg  126992.93
17         0.350370        0.544322   0.410047    Dhaka  125370.37
18         0.303213       -0.207340   0.484556  Rangpur  124266.90
19         0.216789        0.749534        NaN    Dhaka  122776.86
20         0.051937       -0.214843   0.507158      Ctg  118474.03
21         0.086569        0.755842   0.513633    Dhaka  111313.02
22         0.015300        0.002018   0.535252  Rangpur  110352.25
23        -0.089490       -0.412265   0.544000  Rangpur  108733.99
24         0.064750       -0.569635  -0.446987    Dhaka  108552.04
25        -0.135996        0.409945  -0.462753      Ctg  107404.34
26         0.036937        0.521418  -0.486367  Rangpur  105733.54
27        -0.015300        0.125629   0.836208    Dhaka  105008.31
28        -0.113507        1.458133  -0.582342  Rangpur  103282.38
29        -0.120740        0.737808  -0.648791    Dhaka  101004.64
30        -0.179297       -0.171693  -0.745402  Rangpur   99937.59
31        -0.193212        0.729778  -0.762983    Dhaka   97483.56
32        -0.156361        0.158589  -1.017276      Ctg   97427.84
33        -0.284711       -0.477784   0.000000  Rangpur   96778.92
34        -0.431759        0.851204  -0.023159      Ctg   96712.80
35        -0.438440       -0.915864  -0.055026    Dhaka   96479.51
36        -0.719797        0.105966  -0.081527  Rangpur   90708.19
37        -0.469966       -1.737154  -0.106257      Ctg   89949.14
38        -0.856568       -1.380444  -0.177260    Dhaka   81229.06
39        -0.559341       -0.966102  -0.239219      Ctg   81005.76
40        -0.718328       -0.101037  -0.252519      Ctg   78239.91
41        -0.732297       -0.924053  -0.302764  Rangpur   77798.83
42        -0.801249       -0.644839  -0.402166      Ctg   71498.49
43        -0.933171        0.113898  -1.080956    Dhaka   69758.98
44        -0.824976        0.780961  -1.124408      Ctg   65200.33
45        -1.168397        0.035349  -1.283931    Dhaka   64926.08
46        -1.163285       -0.167438   0.497803  Rangpur   49490.75
47        -1.184617        0.309577  -1.295422      Ctg   42559.73
48        -1.175827       -1.725964  -1.295422    Dhaka   35673.41
49        -1.184617       -0.139037  -1.022781      Ctg   14681.40

# Max Absolute Scaler

In [7]:
df_max_abs = pd.read_csv('agora.csv')

x = df_max_abs.drop('Profit',axis=1)
y = df_max_abs.Profit
max_abs_scaler = MaxAbsScaler()
df_max_abs['Marketing Spend'] = max_abs_scaler.fit_transform(x[['Marketing Spend']])
df_max_abs['Administration'] = max_abs_scaler.fit_transform(x[['Administration']])
df_max_abs['Transport'] = max_abs_scaler.fit_transform(x[['Transport']])

df_max_abs

    Marketing Spend  Administration  Transport     Area     Profit
0          0.692617        0.749527   1.000000    Dhaka  192261.83
1          0.983359        0.828805   0.940893      Ctg  191792.06
2          0.927985        0.553781   0.864664  Rangpur  191050.39
3          0.873136        0.649738   0.812235    Dhaka  182901.99
4          0.859438        0.500378   0.776136  Rangpur  166187.94
5          0.797566        0.546494   0.769126    Dhaka  156991.12
6          0.814128        0.805926   0.270710      Ctg  156122.51
7          0.788018        0.796789   0.686493  Rangpur  155752.60
8          0.729018        0.814249   0.660500    Dhaka  152211.77
9          0.745906        0.595028   0.646443      Ctg  149759.96
10         0.616351        0.605512   0.485733  Rangpur  146121.95
11         0.608845        0.502561   0.529362      Ctg  144259.40
12         0.567670        0.697090   0.529563  Rangpur  141585.52
13         0.556352        0.741847   0.535552      Ctg  134307.35
14         0.725394        0.857110   0.543708  Rangpur  132602.65
15         1.000000        0.671338   0.554864    Dhaka  129917.04
16         0.471808        0.665757   0.560312      Ctg  126992.93
17         0.572468        0.794312   0.598948    Dhaka  125370.37
18         0.554881        0.625122   0.625116  Rangpur  124266.90
19         0.522650        0.840503        NaN    Dhaka  122776.86
20         0.461169        0.623433   0.633053      Ctg  118474.03
21         0.474084        0.841923   0.635327    Dhaka  111313.02
22         0.447505        0.672246   0.642920  Rangpur  110352.25
23         0.408424        0.578996   0.645992  Rangpur  108733.99
24         0.465947        0.543574   0.297964    Dhaka  108552.04
25         0.391080        0.764065   0.292427      Ctg  107404.34
26         0.455574        0.789157   0.284134  Rangpur  105733.54
27         0.436093        0.700069   0.748613    Dhaka  105008.31
28         0.399467        1.000000   0.250429  Rangpur  103282.38
29         0.396769        0.837864   0.227092    Dhaka  101004.64
30         0.374931        0.633146   0.193163  Rangpur   99937.59
31         0.369741        0.836056   0.186989    Dhaka   97483.56
32         0.383485        0.707488   0.097683      Ctg   97427.84
33         0.335617        0.564249   0.454943  Rangpur   96778.92
34         0.280776        0.863388   0.446810      Ctg   96712.80
35         0.278284        0.465642   0.435618    Dhaka   96479.51
36         0.173353        0.695644   0.426311  Rangpur   90708.19
37         0.266527        0.280780   0.417626      Ctg   89949.14
38         0.122345        0.361071   0.392690    Dhaka   81229.06
39         0.233194        0.454334   0.370931      Ctg   81005.76
40         0.173901        0.649050   0.366260      Ctg   78239.91
41         0.168691        0.463799   0.348614  Rangpur   77798.83
42         0.142976        0.526646   0.313705      Ctg   71498.49
43         0.093776        0.697429   0.075319    Dhaka   69758.98
44         0.134127        0.847577   0.060059      Ctg   65200.33
45         0.006049        0.679748   0.004036    Dhaka   64926.08
46         0.007956        0.634104   0.629768  Rangpur   49490.75
47         0.000000        0.741474   0.000000      Ctg   42559.73
48         0.003278        0.283298   0.000000    Dhaka   35673.41
49         0.000000        0.640496   0.095749      Ctg   14681.40