In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

import category_encoders as ce

In [2]:
df = pd.read_csv('weight-height.csv')
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [3]:
df.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [4]:
X = df.drop(['Weight'], axis=1)
y = df.Weight

In [5]:
#dummy_var = pd.get_dummies(X.Gender,drop_first=True)

In [6]:
#X = X.drop(['Gender'], axis=1)

In [7]:
#X = pd.concat([X,dummy_var], axis=1)

In [8]:
encoder = ce.BinaryEncoder(cols=['Gender'])
encoder.fit(X)
X = encoder.transform(X)

C:\Users\sumon\anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [9]:
scaler = StandardScaler()
scaler.fit(X[['Height']])
X.Height = scaler.transform(X[['Height']])
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = .30,random_state = 42)

In [10]:
reg = LinearRegression()

In [11]:
reg.fit(X_train,y_train)

LinearRegression()

In [12]:
X_test

      Gender_0  Gender_1    Height
6006         1         0 -0.509780
1197         0         1  0.539163
2862         0         1  1.078472
6497         1         0 -1.057516
2860         0         1  0.718759
...        ...       ...       ...
184          0         1  1.330994
2988         0         1  0.209403
6048         1         0 -2.232095
420          0         1  0.747779
5669         1         0 -0.470581

[2567 rows x 3 columns]

In [13]:
prediction = reg.predict(X_test)

In [14]:
mse = mean_squared_error(y_test,prediction)
mse

96.83734437830608

In [15]:
r2_score(y_test, prediction)

0.905911242442266

In [16]:
reg.intercept_

163.91319890828893

In [17]:
reg.coef_

array([-9.77075847,  9.77075847, 22.93882036])

In [18]:
gender = input("Enter Gender (Male/Female):")

Enter Gender (Male/Female):Male

In [19]:
height = input("Enter Height:")

Enter Height:68

In [20]:
predict_data = pd.DataFrame({
    'Gender':[gender], 
    'Height':[height]})

In [21]:
predict_data

  Gender Height
0   Male     68

In [22]:
predict_data['Height'] = scaler.transform(predict_data[['Height']])
predict_data = encoder.transform(predict_data)
predict_data

   Gender_0  Gender_1    Height
0         0         1  0.309012

In [23]:
reg.predict(predict_data)

array([180.77232095])

In [24]:
reg.intercept_ + reg.coef_[0] * predict_data.Gender_0 + reg.coef_[1] * predict_data.Gender_1 + reg.coef_[2] * predict_data.Height

0    180.772321
dtype: float64

In [25]:
import joblib as jbl

In [26]:
jbl.dump(reg,'Model')

['Model']

In [27]:
jbl.dump(scaler,'Scaler')
jbl.dump(encoder,'Encoder')

['Encoder']